@model Vetotvet.Models.Client

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pets" class="control-label"></label>

                <div id="pets">
                    <multiselect v-model="value"
                                 :options="options"
                                 :multiple="true"
                                 :custom-label="customLabel"
                                 :close-on-select="true"
                                 :clear-on-select="false"
                                 :hide-selected="true"
                                 :preserve-search="true"
                                 placeholder="Выберите животное"
                                 label="Name"
                                 track-by="Id"
                                 id="example"
                                 @@select="onSelect">
                    </multiselect>
                    <pre class="language-json"><code>{{ value  }}</code></pre>
                </div>


                @*<div class="list-group">
                        @foreach (var p in Model.Pets)
                        {
                        <a href="/Pets/Details/@p.Id" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            @p.Name
                            <span class="badge badge-primary badge-pill">X</span>
                        </a>
                        }
                    </div>*@

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#PetsModal">+</button>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Modal -->
<div class="modal fade" id="PetsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Выберите животное для добавления</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbody">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="CreatePet">
                            
                            <div class="form-group">
                                <label  class="control-label">Кличка</label>
                                <input  class="form-control" />
                               
                            </div>
                            <div class="form-group">
                                <label  class="control-label"></label>
                                <input  class="form-control" />
                                
                            </div>
                            <div class="form-group">
                                <label  class="control-label"></label>
                                <input  class="form-control" />
                                
                            </div>
                            <div class="form-group">
                                <label  class="control-label"></label>
                                <input  class="form-control" />
                                
                            </div>
                            <div class="form-group">
                                <label  class="control-label"></label>
                                <select class="form-control" ></select>
                                
                            </div>
                            <div class="form-group">
                                <label  class="control-label"></label>
                                <select class="form-control" ></select>
                               
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-on:click="addPet()">Добавить</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-multiselect@2.1.2/dist/vue-multiselect.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.2/dist/vue-multiselect.min.css">


<script>
    new Vue({
	components: {
  	Multiselect: window.VueMultiselect.default
	},
	data: {
  	value: [],
  	options: []
        },
            mounted: function () {
            //выкачиваем список животных у выбранного клиента
            axios.get('/api/Pets/GetPetsByOwner/@Model.Id').then(response => (this.value = response.data));
            console.log("питомцы владельца - " + this.value);
            //выкачиваем список животных
            axios.get('/api/Pets/GetPets').then(response => (this.options = response.data));
            console.log("мой вывод - " + this.options);
        },
        methods: {
          customLabel(option) {
                return `${option.Name} - ${option.Breed.Name}`
          },
          onSelect(option, id) {
    	    console.log(option, id)
          },
        updateSelectedStyle (style) {
          this.selectedStyle = style
        }
  }
}).$mount('#pets')


</script>



<script>
        var PetsModal = new Vue({
                el: '#PetsModal',
                data: {
                    PetsList: []
                },
                created: function () {
                    //выкачиваем список животных
                    axios.get('/api/Pets/GetPets').then(response => (this.PetsList = response.data));
                    console.log(this.PetsList);
                },
                methods: {
                    addPet() {
                        //добавляем животное через апи
                        axios.post('/api/Clients/AddPetToClient', { PetId: 5 }) //не передаетсяв параметры ?????? почему-то
                    }
                }
            })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
